.card-row{
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 13px;
  padding-bottom: 18px;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 24px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 80px 1fr 80px 1fr;

    padding-top: 15px;
    padding-bottom: 16px;
  }

  &:last-child {
    border-bottom: 1px solid $color-gray-250;
  }
}

.card-row__title {
  color: $color-gray-700;

  font-family: $font-heading;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;

  @media (max-width: $tablet) {
    margin-top: 0;
    margin-bottom: 13px;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
  }
}

.card-row__list {
  display: grid;
  grid-template-columns: 1fr 1fr;

  color: $color-gray-850;

  font-family: $font-body;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;

  @media (max-width: $tablet) {
    margin-top: 0;
    margin-bottom: 15px;
  }

  @media (min-width: $tablet) {
    grid-template-columns: 70% 30%;
    align-items: center;

    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 80px;
    grid-column: 3/5;
  }
}

.card-row__quantity{
  margin-left: 0;
  margin-right: auto;

  @media (min-width: $tablet) and (max-width: $desktop) {
    margin-left: auto;
    margin-right: 0;
  }
}

.card-row__price{
  margin-left: auto;

  @media (min-width: $tablet) {
    margin-left: 0;
  }
}

.card-row__button {
  padding: 10px;

  text-align: center;
  text-decoration: none;

  @media (min-width: $tablet) {
    grid-column: 1/3;
    padding: 14px;

    font-size: 16px;
  }

  @media (min-width: $desktop) {
    grid-column: 5/6;
    align-self: center;
  }
}
