.card {
  background: $color-gray-50;
}

.card__link {
  text-decoration: none;
}

.card__title {
  color: $color-gray-850;

  font-family: $font-heading;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.card__features-list {
  color: $color-gray-700;

  font-family: $font-body;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.card__button {
  text-decoration: none;
}
