.contacts {
  background-color: $color-white;

  @media (min-width: $desktop) {
    position: relative;
  }

  &--catalog {
    background-color: $color-gray-50;
  }
}

.contacts__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 26px 0;

  background-color: $color-white;

  @media (min-width: $tablet) {
    padding: 60px 0;
  }

  @media (min-width: $desktop) {
    width: 565px;
    position: absolute;
    left: 110px;
    top: 95px;
    z-index: 2;

    padding: 60px 80px;


    background-color: $color-white;
  }

  &--catalog {
    background-color: $color-gray-50;
  }
}

.contacts__title {
  margin: 0;

  color: $color-gray-900;

  font-family: $font-heading;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    padding-right: 95px;

    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop) {
    padding-right: 0;
  }

}

.contacts__address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: $color-gray-700;

  font-family: $font-body;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  @media (min-width: $tablet) {
    padding-left: 120px;

    text-align: right;
    font-size: 16px;
  }

  @media (min-width: $desktop) {
    padding-left: 30px;

    text-align: left;
  }
}

.map{
  position: relative;
}

.contacts__map {
  display: block;
  width: 100%;
  height: 362px;

  border: none;

  @media (min-width: $tablet) {
    height: 400px;
  }

  @media (min-width: $desktop) {
    //position: absolute;
    //top: 0;
    //right: 0;
    //bottom: 0;
    //left: 0;
  }
}
