.control {
  color: $color-gray-850;

  font-family: $font-heading;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 1;
  }
}

.control__lead {
  position: relative;
}

.control__input[type="radio"] {
  cursor: pointer;

  & + .control__lead::before{
    content: "";
    display: block;
    height: 30px;
    width: 30px;

    position: absolute;
    top: 0;
    left: -46px;

    border: 1px solid $color-gray-250;
    border-radius: 50%;

    background-color: $color-white;
  }

  &:checked + .control__lead::after{
    content: "";
    display: block;
    width: 12px;
    height: 12px;

    position: absolute;
    top: 50%;
    left: -37px;
    transform: translateY(-50%);

    border-radius: 50%;

    background-color: $color-primary-500;
  }
}

.control__input[type="checkbox"] {
  cursor: pointer;

  & + .control__lead::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;

    position: absolute;
    top: 50%;
    left: -54px;
    transform: translateY(-50%);

    border: 1px solid $color-gray-250;

    background-color: $color-white;
  }

  &:checked + .control__lead::after  {
    content: "";
    display: block;
    width: 30px;
    height: 30px;

    position: absolute;
    top: 50%;
    left: -54px;
    transform: translateY(-50%);

    background-image: url("../../img/icons/checkmark.svg");
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.control__lead {
   margin-left: 20px;
 }