.field-group {
  //padding: 20px 0;
  border: 0;
  border-bottom: 1px solid $color-gray-200;
  margin-bottom: 27px;
  padding-bottom: 20px;

  @media (min-width: $tablet) {
    border-bottom: none;
  }
}

.field-group__title {
  margin-bottom: 35px;

  font-family: $font-heading;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 1;

    width: 100%;

    & span {
      z-index: 2;
      margin-left: -20px;
      padding: 0 20px;

      background-color: $color-white;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -2;
      left:0;
      right: 0;
      height: 2px;

      margin-top: 20px;

      background-color: $color-primary-500;
    }
  }
}

label.field-group__title {
  display: block;
}

.field__textarea {
  width: 100%;
}

.cat-data{

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.field-group__item {
  margin-top: 20px;
}

.field-group__list {
  width: 280px;
  margin: 0 auto;
  padding-left: 0;

  list-style-type: none;

  @media (min-width: $tablet) {
    width: 708px;
  }

  @media (min-width: $desktop) {
    width: 100%;
    margin-left: 0;
  }

}

.field-group__list--radio {
  @media (min-width: $tablet) {
    border: 1px solid $color-gray-150;
    margin-top: 20px;
    padding: 20px 30px;
  }
}

.field-group__list--radio .field-group__item {
  @media (min-width: $desktop) {
    min-height: 38px; //можно решить по-другому
  }
}


.field-group__contacts {

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.additional-products__field-list {
  padding: 0;

  list-style-type: none;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }
  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.additional-products__field-list .field-group__item {
  //margin: 0;
}

.additional-products__field-list .control--chekbox {
  display: grid;
  grid-template-columns: 40px 1fr;
  //gap: 20px;
  align-items: end;

}

.field-group--last {
  border-bottom: none;

  @media (min-width: $desktop) {
    grid-column: 1 / -1;
  }
}