.field {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 10px;

  color: $color-gray-700;

  font-family: $font-heading;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    gap: 17px;

    font-size: 20px;
    line-height: 1;
  }
}

.field__input {
  padding: 13px;
  border: 1px solid $color-gray-150;

  color: $color-gray-700;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    padding: 13px 13px 13px 20px;

    font-size: 20px;
    line-height: 1;
  }
}

.field__input[type="email"] {
  background: url("../../img/icons/email.svg") no-repeat 95% center;
}

.field__input[type="tel"] {
  background: url("../../img/icons/phone.svg") no-repeat 95% center;
}
