.form {
  margin-top: 35px;
  //padding: 20px;

  @media (min-width: $tablet) {
    margin-top: 50px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto 80px auto;
    display: grid;
    grid-template-columns: 570px 570px;
    gap: 80px;
  }

}

.form__group--full {
  grid-column: 1/-1;
}

.form__button-container {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    text-align: left;
    gap: 80px;
  }
}

.form__button {
  padding: 10px 0;

  border: none;

  @media (min-width: $tablet) {
    font-size: 20px;
  }
}

.form__additional-text {
  font-family: $font-body;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $color-black;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 1;
  }
}
