.offer {
  padding: 40px;

  background-color: $color-primary-500;
  background-image: url("../../img/content/offer-background.png");

  @media (max-width: $tablet) {
    margin-bottom: 35px;
  }

  @media (min-width: $desktop) {
    background-image: url("../../img/content/offer-background--desktop.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.offer__text {
  color: $color-white;

  font-family: $font-body;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}
