.page-main__title {
  color: $color-black;

  font-family: $font-heading;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (max-width: $tablet) {

  }

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 1;
  }
}

.page-main__section {
  //position: relative;
}

.page-main__subtitle {
  color: $color-black;

  font-family: $font-heading;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}


.page-main__subtitle--form {
  @media (max-width: $tablet) {
    max-width: 230px;
    padding-top: 20px;

    font-size: 14px;
    line-height: 18px;
  }
  
  @media (min-width: $tablet) {
    max-width: 325px;
    padding-top: 20px;
  }
}