.page-header {
  background-color: $color-white;
}

.page-header__nav {
  @media (max-width: $tablet) {

    margin: 0 auto;

  }

  @media (min-width: $tablet) {
    width: 708px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 176px 1fr;
    gap: 94px;
    align-items: center;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr;
    gap: 123*2px;
    width: 1220px;
  }
}

.page-header__bar {
  display: grid;
  align-items: center;
  @media (max-width: $tablet) {
    width: 320px;
    margin: 10px auto 18px auto;
    padding: 0 20px;
    grid-template-columns: 34px 1fr 34px;
    gap: 16px;
  }
  @media (min-width: $tablet) {

  }
}

.page-header__logo {
  @media(min-width: $tablet){
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
    justify-self: start;
  }

  @media (min-width: $tablet) {
    grid-template-columns: 64px 100px;
    gap: 10px;
  }

  @media (min-width: $tablet) {
    grid-template-columns: 78px 120px;
  }
}

.page-header__menu {
  margin: 0;
}

.page-header__toggler {
  @media (max-width: $tablet) {
    width: 24px;
    height: 18px;
    border: none;
    background: transparent url("../../img/icons/burger-menu.svg") no-repeat center center;
  }

  @media (min-width: $tablet) {
    display: none;
  }
}
