.site-menu__list {
  padding: 0;
  display: flex;
  flex-direction: column;

  list-style-type: none;

  font-family: $font-heading;
  line-height: 1;
  text-transform: uppercase;


    font-size: 20px;
    text-align: center;
    font-weight: 500;

  @media (max-width: $tablet) {
    display: none;
    &:last-child{
      border-bottom: 1px solid $color-gray-100;
    }
  }


  @media (min-width: $tablet) {
    padding: 24px 0 24px;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 400;
  }

  @media (min-width: $desktop) {
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }
}

.site-menu__item {
  @media (max-width: $tablet) {
    border-top: 1px solid $color-gray-100;
    padding: 24px 0 24px;
  }

  @media (min-width: $tablet) {
    padding: 10px 0 10px;
  }

  &--active {
    @media (min-width: $tablet) {
      border-bottom: 2px solid $basic-primary-600;
    }
    @media (min-width: $desktop) {

    }
  }
}

.site-menu__link {
  color: $color-black;

  text-decoration: none;

  @media (min-width: $tablet) {
    display: block;

    font-size: 18px;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
  }
}

.site-menu__list--main{

  .site-menu__item--active{
    @media (min-width: $desktop) {
      border-bottom-color: $color-white;
    }
  }

  .site-menu__link{
    @media (min-width: $desktop) {
      color: $color-white;
    }
  }
}