.switcher-button {
  border: none;

  background: transparent;
  color: $color-black;

  font-family: $font-heading;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  cursor: pointer;
}
