@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
/*text*/
/*colors*/
/*screens*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  background-color: #68b738;
  font-family: "Oswald", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}

.button--secondary {
  color: #444444;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
}

.page {
  min-width: 320px;
}

.container {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .container {
    width: 1220px;
  }
}

fieldset {
  margin: 0;
  padding: 0;
}

.page-main__title {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .page-main__title {
    font-size: 60px;
    line-height: 1;
  }
}

.page-main__subtitle {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .page-main__subtitle--form {
    max-width: 230px;
    padding-top: 20px;
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 768px) {
  .page-main__subtitle--form {
    max-width: 325px;
    padding-top: 20px;
  }
}

@media (min-width: 1300px) {
  .additional-products__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin-bottom: 80px;
  }
}

.additional-products {
  border-top: 1px solid #ebebeb;
}
@media (min-width: 1300px) {
  .additional-products {
    grid-column: span 3;
    border-top: none;
  }
}

.additional-products__title {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
}
@media (max-width: 768px) {
  .additional-products__title {
    margin: 0;
    padding-top: 25px;
    padding-bottom: 36px;
  }
}
@media (min-width: 768px) {
  .additional-products__title {
    font-size: 36px;
  }
}
@media (min-width: 1300px) {
  .additional-products__title {
    grid-column: span 4;
  }
}

.additional-products__list {
  list-style-type: none;
}
@media (max-width: 768px) {
  .additional-products__list {
    margin-top: 0;
    margin-bottom: 36px;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .additional-products__list {
    margin-top: 80px;
    padding-left: 0;
  }
}
@media (min-width: 1300px) {
  .additional-products__list {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.additional-products__item {
  border-top: 1px solid #cdcdcd;
}

.cards__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .cards__list {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}
@media (min-width: 1300px) {
  .cards__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
  }
}

.card__item {
  border-top: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .card__item {
    border-top: none;
    background-image: linear-gradient(to top, #ebebeb 350px, #ffffff 200px);
  }
}

.card {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 13px;
  display: grid;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .card {
    padding: 23px 20px;
    background-color: transparent;
  }
}
@media (min-width: 1300px) {
  .card {
    width: auto;
  }
}

.card__link {
  text-decoration: none;
}
@media (max-width: 768px) {
  .card__link {
    grid-column: 2/3;
  }
}
@media (min-width: 768px) {
  .card__link {
    grid-row: 2/3;
    justify-self: center;
  }
}

@media (max-width: 768px) {
  .card__img {
    grid-row: 1/3;
    min-width: 110px;
  }
}
@media (min-width: 768px) {
  .card__img {
    margin-bottom: 34px;
    justify-self: center;
  }
}

.card__title {
  margin: 0;
  padding-right: 64px;
  padding-bottom: 10px;
  color: #222222;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .card__title {
    max-width: 150px;
    padding-bottom: 20px;
    padding-right: 0;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.card__button {
  margin-top: 25px;
  padding: 11px 0;
  text-align: center;
  text-decoration: none;
}
@media (max-width: 768px) {
  .card__button {
    grid-column: span 2;
    justify-self: stretch;
  }
}

.card__features-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  list-style-type: none;
}
@media (min-width: 768px) {
  .card__features-list {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .card__features-list dt {
    border-bottom: 1px solid #cdcdcd;
    padding-top: 9px;
    padding-bottom: 9px;
  }
}
.card__features-list dd {
  margin-left: auto;
  text-align: right;
}
@media (min-width: 768px) {
  .card__features-list dd {
    border-bottom: 1px solid #cdcdcd;
    padding-top: 9px;
    padding-bottom: 9px;
    -webkit-margin-start: 0;
            margin-inline-start: 0;
  }
}

.card-row {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 13px;
  padding-bottom: 18px;
}
@media (min-width: 768px) {
  .card-row {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 24px;
  }
}
@media (min-width: 1300px) {
  .card-row {
    grid-template-columns: 1fr 80px 1fr 80px 1fr;
    padding-top: 15px;
    padding-bottom: 16px;
  }
}
.card-row:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.card-row__title {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .card-row__title {
    margin-top: 0;
    margin-bottom: 13px;
  }
}
@media (min-width: 768px) {
  .card-row__title {
    font-size: 20px;
  }
}

.card-row__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #222222;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .card-row__list {
    margin-top: 0;
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .card-row__list {
    grid-template-columns: 70% 30%;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1300px) {
  .card-row__list {
    grid-template-columns: 1fr 80px;
    grid-column: 3/5;
  }
}

.card-row__quantity {
  margin-left: 0;
  margin-right: auto;
}
@media (min-width: 768px) and (max-width: 1300px) {
  .card-row__quantity {
    margin-left: auto;
    margin-right: 0;
  }
}

.card-row__price {
  margin-left: auto;
}
@media (min-width: 768px) {
  .card-row__price {
    margin-left: 0;
  }
}

.card-row__button {
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
@media (min-width: 768px) {
  .card-row__button {
    grid-column: 1/3;
    padding: 14px;
    font-size: 16px;
  }
}
@media (min-width: 1300px) {
  .card-row__button {
    grid-column: 5/6;
    align-self: center;
  }
}

.catalog-main {
  border-top: 1px solid #d9d9d9;
  padding-top: 27px;
}
@media (min-width: 768px) {
  .catalog-main {
    border-top: none;
  }
}

.catalog-title {
  margin: 0;
  padding-bottom: 40px;
}

@media (min-width: 1300px) {
  .catalog-section__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.catalog-section__item {
  display: grid;
  padding: 20px;
  background-color: #f2f2f2;
}
@media (max-width: 768px) {
  .catalog-section__item {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) {
  .catalog-section__item {
    position: relative;
    grid-template-columns: 340px 1fr;
    padding: 57px;
  }
}
@media (min-width: 1300px) {
  .catalog-section__item {
    padding: 50px;
  }
}
.catalog-section__item + .catalog-section__item {
  margin-top: 40px;
}
@media (min-width: 768px) {
  .catalog-section__item + .catalog-section__item {
    margin-top: 30px;
  }
}
@media (min-width: 1300px) {
  .catalog-section__item + .catalog-section__item {
    margin-top: 0;
  }
}

.catalog-section__title {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .catalog-section__title {
    display: grid;
    grid-template-columns: 71px 150px;
    align-items: center;
    margin-top: 0;
    margin-bottom: 22px;
  }
}
@media (min-width: 768px) {
  .catalog-section__title {
    grid-column: span 2;
    margin-top: 0;
    margin-bottom: 22px;
    font-size: 36px;
  }
}
@media (min-width: 1300px) {
  .catalog-section__title {
    display: grid;
    grid-template-columns: 162px 1fr;
    align-items: center;
  }
}
.catalog-section__title::before {
  content: "";
  display: block;
}
@media (min-width: 768px) {
  .catalog-section__title::before {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
@media (min-width: 1300px) {
  .catalog-section__title::before {
    position: static;
  }
}
.catalog-section__title--slim::before {
  width: 50px;
  height: 53px;
  background-image: url("../../img/icons/cat_slim.svg");
}
@media (min-width: 768px) {
  .catalog-section__title--slim::before {
    width: 200px;
    height: 211px;
    right: 62px;
  }
}
@media (min-width: 1300px) {
  .catalog-section__title--slim::before {
    width: 100px;
    height: 106px;
  }
}
.catalog-section__title--pro::before {
  width: 67px;
  height: 50px;
  background-image: url("../../img/icons/cat_pro.svg");
}
@media (min-width: 768px) {
  .catalog-section__title--pro::before {
    width: 268px;
    height: 200px;
    right: 28px;
  }
}
@media (min-width: 1300px) {
  .catalog-section__title--pro::before {
    width: 134px;
    height: 100px;
  }
}

.catalog-section__text {
  margin-top: 0;
  margin-bottom: 48px;
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}
@media (max-width: 768px) {
  .catalog-section__text {
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 22px;
    border-bottom: 1px solid #d9d9d9;
  }
}
@media (min-width: 768px) {
  .catalog-section__text {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
}
@media (min-width: 1300px) {
  .catalog-section__text {
    grid-column: span 2;
  }
}

.catalog-section__link {
  display: flex;
  align-items: center;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
@media (max-width: 768px) {
  .catalog-section__link {
    margin-right: 15px;
  }
}
@media (min-width: 768px) {
  .catalog-section__link {
    grid-column: span 2;
    font-size: 20px;
    line-height: 1;
  }
}
.catalog-section__link::after {
  content: "";
  display: block;
  width: 24px;
  height: 12px;
  margin-left: 15px;
  background-image: url("../../img/icons/arrow-left.svg");
}

.contacts {
  background-color: #ffffff;
}
@media (min-width: 1300px) {
  .contacts {
    position: relative;
  }
}
.contacts--catalog {
  background-color: #f2f2f2;
}

.contacts__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 26px 0;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .contacts__container {
    padding: 60px 40px;
  }
}
@media (min-width: 1300px) {
  .contacts__container {
    width: 565px;
    position: absolute;
    left: 110px;
    top: 95px;
    z-index: 2;
    padding: 60px 80px;
    background-color: #ffffff;
  }
}
.contacts__container--catalog {
  background-color: #f2f2f2;
}

.contacts__title {
  margin: 0;
  color: #111111;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .contacts__title {
    padding-right: 95px;
    font-size: 20px;
    line-height: 26px;
  }
}
@media (min-width: 1300px) {
  .contacts__title {
    padding-right: 0;
  }
}

.contacts__address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #444444;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .contacts__address {
    padding-left: 120px;
    text-align: right;
    font-size: 16px;
  }
}
@media (min-width: 1300px) {
  .contacts__address {
    padding-left: 30px;
    text-align: left;
  }
}

.map {
  position: relative;
}

.contacts__map {
  display: block;
  width: 100%;
  height: 362px;
  border: none;
}
@media (min-width: 768px) {
  .contacts__map {
    height: 400px;
  }
}
.control {
  color: #222222;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .control {
    font-size: 20px;
    line-height: 1;
  }
}

.developer {
  padding: 22px 0;
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  text-decoration: none;
}

.field {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 10px;
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .field {
    gap: 17px;
    font-size: 20px;
    line-height: 1;
  }
}

.field__input {
  padding: 13px;
  border: 1px solid #e7e7e7;
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .field__input {
    padding: 13px 13px 13px 20px;
    font-size: 20px;
    line-height: 1;
  }
}

.field-group {
  border: 0;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 27px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .field-group {
    border-bottom: none;
  }
}

.field-group__title {
  margin-bottom: 35px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .field-group__title {
    font-size: 36px;
    line-height: 1;
  }
}

label.field-group__title {
  display: block;
}

.field__textarea {
  width: 100%;
}

@media (min-width: 1300px) {
  .cat-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.field-group__item {
  margin-top: 20px;
}

.field-group__list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
.field-group__list :first-child {
  margin-top: 0;
}

@media (min-width: 768px) {
  .field-group__list--radio {
    border: 1px solid #e7e7e7;
    padding: 20px;
  }
}

@media (min-width: 1300px) {
  .field-group__contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.additional-products__field-list {
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .additional-products__field-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }
}
@media (min-width: 1300px) {
  .additional-products__field-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.additional-products__field-list .field-group__item {
  margin: 0;
}

.additional-products__field-list .control--chekbox {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 20px;
  align-items: end;
}

.field-group--last {
  border-bottom: none;
}

.form {
  margin-top: 35px;
}
@media (min-width: 768px) {
  .form {
    margin-top: 50px;
  }
}
@media (min-width: 1300px) {
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.form__button-container {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}
@media (min-width: 768px) {
  .form__button-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1300px) {
  .form__button-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.form__button {
  border: none;
}
@media (min-width: 768px) {
  .form__button {
    font-size: 20px;
  }
}

.form__additional-text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
}
@media (min-width: 768px) {
  .form__additional-text {
    font-size: 16px;
    line-height: 1;
  }
}

.live-example {
  padding: 20px;
  background-color: #ebebeb;
}
@media (min-width: 768px) {
  .live-example {
    padding: 43px 30px 30px;
    background-image: linear-gradient(to top, #ebebeb 520px, #ffffff 520px);
  }
}

@media (max-width: 768px) {
  .live-example__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
}
@media (min-width: 1300px) {
  .live-example__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

@media (max-width: 768px) {
  .live-example__content {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .live-example__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-bottom: 80px;
  }
}
@media (min-width: 1300px) {
  .live-example__content {
    padding-right: 100px;
  }
}

@media (max-width: 768px) {
  .live-example__title {
    margin-top: 0;
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) {
  .live-example__title {
    grid-column: span 2;
    margin-top: 0;
    margin-bottom: 146px;
    padding-top: 20px;
  }
}

.live-example__text {
  color: #444444;
}
@media (max-width: 768px) {
  .live-example__text {
    margin-top: 0;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .live-example__text {
    grid-column: span 2;
    margin-top: 0;
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }
}

.live-example__spending {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .live-example__spending {
    padding-left: 160px;
    justify-self: right;
    text-align: right;
    font-size: 20px;
  }
}
@media (min-width: 1300px) {
  .live-example__spending {
    grid-column: span 2;
    padding-left: 0;
    justify-self: start;
    display: flex;
  }
  .live-example__spending :first-child {
    margin-right: 100px;
  }
}
.live-example__spending span:first-child {
  display: inline-block;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .live-example__picture {
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .live-example__picture {
    display: grid;
    grid-template-columns: 50% 1fr;
    padding: 0 58px;
    overflow: hidden;
  }
}
@media (min-width: 1300px) {
  .live-example__picture {
    padding: 0;
  }
}

.live-example__img {
  display: flex;
}
@media (min-width: 768px) {
  .live-example__img {
    overflow: hidden;
  }
  .live-example__img img {
    width: 594px;
    height: 511px;
    max-width: none;
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .live-example__img--before {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .live-example__img--after {
    display: none;
  }
}
@media (min-width: 768px) {
  .live-example__img--after {
    display: grid;
    justify-content: end;
  }
}

.live-example__img--active {
  display: block;
}

.live-example__switcher {
  grid-area: switcher;
}

@media (max-width: 768px) {
  .logo {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 34px 1fr;
    align-items: center;
  }
}

.logo__sign {
  justify-self: center;
}

.offer {
  padding: 40px;
  background-color: #68b738;
  background-image: url("../../img/content/offer-background.png");
}
@media (max-width: 768px) {
  .offer {
    margin-bottom: 35px;
  }
}
@media (min-width: 1300px) {
  .offer {
    background-image: url("../../img/content/offer-background--desktop.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.offer__text {
  color: #ffffff;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}

.page {
  min-width: 320px;
  height: 100%;
  background-color: #ffffff;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.page__body {
  margin: 0;
}

.page-form {
  border-top: 1px solid #d9d9d9;
}

.cat-data {
  border-bottom: 1px solid #d9d9d9;
}

.page-footer {
  background-color: #f2f2f2;
}

.page-footer__container {
  display: grid;
  align-items: center;
}
@media (max-width: 321px) {
  .page-footer__container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
@media (min-width: 768px) {
  .page-footer__container {
    grid-template-columns: 128px 1fr 164px;
    gap: 16px;
    padding: 15px 0;
  }
}

@media (max-width: 768px) {
  .page-footer__logo {
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    padding-top: 39px;
    padding-bottom: 32px;
    text-align: center;
  }
}

.page-footer__social {
  width: 130px;
  padding-left: 0;
  justify-self: center;
  display: flex;
  justify-content: space-between;
}

.page-footer__developer {
  display: grid;
  grid-template-columns: 1fr 27px;
  align-items: center;
}
@media (max-width: 321px) {
  .page-footer__developer {
    width: 100%;
  }
}

.developer__text {
  justify-self: left;
}

.developer__img {
  justify-self: right;
}

.page-header {
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .page-header__nav {
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .page-header__nav {
    width: 708px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 176px 1fr;
    gap: 94px;
    align-items: center;
  }
}
@media (min-width: 1300px) {
  .page-header__nav {
    grid-template-columns: 1fr 1fr;
    gap: 246px;
    width: 1220px;
  }
}

.page-header__bar {
  display: grid;
  align-items: center;
}
@media (max-width: 768px) {
  .page-header__bar {
    width: 320px;
    margin: 10px auto 18px auto;
    padding: 0 20px;
    grid-template-columns: 34px 1fr 34px;
    gap: 16px;
  }
}
@media (min-width: 768px) {
  .page-header__logo {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
    justify-self: start;
  }
}
.page-header__menu {
  margin: 0;
}

@media (max-width: 768px) {
  .page-header__toggler {
    width: 24px;
    height: 18px;
    border: none;
    background: transparent url("../../img/icons/burger-menu.svg") no-repeat center center;
  }
}
@media (min-width: 768px) {
  .page-header__toggler {
    display: none;
  }
}

.process {
  padding: 0 20px 29px 20px;
}
@media (min-width: 768px) {
  .process {
    padding: 0 30px;
    border-bottom: 1px solid #ebebeb;
  }
}
@media (min-width: 1300px) {
  .process {
    border: none;
  }
}

.process__list {
  padding: 0;
  color: #444444;
  list-style-type: none;
}
@media (max-width: 768px) {
  .process__list {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .process__list {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: repeat(2, 280px);
    gap: 20px 150px;
    margin-bottom: 0;
  }
}
@media (min-width: 1300px) {
  .process__list {
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: 280px;
    column-gap: 75px;
    margin: 0;
  }
}

.process__item {
  display: grid;
}
@media (max-width: 768px) {
  .process__item {
    grid-template-columns: 60px 1fr;
    gap: 20px;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .process__item {
    grid-template-rows: 111px;
    position: relative;
    font-size: 16px;
    line-height: 24px;
  }
}
.process__item + .process__item {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .process__item + .process__item {
    margin-top: 0;
  }
}
.process__item::before {
  content: "";
  display: block;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (max-width: 768px) {
  .process__item::before {
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 768px) {
  .process__item::before {
    width: 80px;
    height: 80px;
  }
}
@media (min-width: 768px) {
  .process__item::after {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 280px;
    line-height: 205px;
    color: #f2f2f2;
  }
}

.process__item--leaf::before {
  background-image: url("../../img/icons/icon_leaf.svg");
}
@media (min-width: 768px) {
  .process__item--leaf::after {
    content: "1";
  }
}

.process__item--tub::before {
  background-image: url("../../img/icons/icon_tub.svg");
}
@media (min-width: 768px) {
  .process__item--tub::after {
    content: "2";
  }
}

.process__item--eat::before {
  background-image: url("../../img/icons/icon_eat.svg");
}
@media (min-width: 768px) {
  .process__item--eat::after {
    content: "3";
  }
}

.process__item--alarm::before {
  background-image: url("../../img/icons/icon_alarm.svg");
}
@media (min-width: 768px) {
  .process__item--alarm::after {
    content: "4";
  }
}

.promo {
  padding: 20px;
}
@media (max-width: 768px) {
  .promo {
    background-color: #5eaa2f;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-image: url("../../img/content/background-cat.png"), linear-gradient(#5eaa2f 0, #5eaa2f 302px, #ffffff 302px);
    color: #ffffff;
    text-align: center;
  }
}
@media (max-width: 1300px) {
  .promo {
    background-color: #ffffff;
    color: #000000;
    text-align: left;
  }
}
@media (min-width: 1300px) {
  .promo {
    min-height: 600px;
  }
  .promo::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 800px;
    left: 50%;
    z-index: 0;
    background-color: #5eaa2f;
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-image: url(../../img/content/background-cat-desctop.png);
  }
}

@media (min-width: 768px) {
  .promo__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "title" "text" "button" "img";
    padding-left: 80px;
  }
}
@media (min-width: 1300px) {
  .promo__container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title img" "text img" "button img";
  }
}

.promo__title {
  grid-area: title;
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .promo__title {
    margin-bottom: 30px;
    padding-right: 200px;
    color: #000000;
    font-size: 60px;
    text-align: left;
  }
}
@media (min-width: 1300px) {
  .promo__title {
    align-self: end;
    margin: 0;
    padding: 0;
  }
}

.promo__text {
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 29px;
}
@media (min-width: 768px) {
  .promo__text {
    margin-bottom: 45px;
    color: #000000;
    font-size: 20px;
    text-align: left;
  }
}
@media (min-width: 1300px) {
  .promo__text {
    margin: 0;
    padding-top: 40px;
    align-self: start;
  }
}

.promo__img {
  max-width: 100%;
  grid-area: img;
}
@media (min-width: 768px) {
  .promo__img {
    min-height: 600px;
    min-width: 700px;
    margin-top: -60px;
    margin-left: -60px;
  }
}
@media (min-width: 1300px) {
  .promo__img {
    position: relative;
    z-index: 1;
    min-height: 499px;
    min-width: 552px;
    margin-top: 0;
    margin-left: -200px;
  }
}

.promo__button {
  grid-area: button;
  display: block;
  padding: 14px 0 14px 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}
@media (min-width: 768px) {
  .promo__button {
    justify-self: start;
    font-size: 20px;
    line-height: 1;
    padding: 14px 26px;
  }
}
@media (min-width: 1300px) {
  .promo__button {
    align-self: start;
    margin-top: -55px;
  }
}

.show-more {
  padding-bottom: 25px;
  border-top: 1px solid #ebebeb;
  text-align: center;
}
@media (min-width: 768px) {
  .show-more {
    display: grid;
    align-content: center;
    margin-top: 80px;
    border: 1px solid #ebebeb;
  }
}

@media (min-width: 768px) {
  .show-more__text {
    max-width: 140px;
    margin: 0 auto;
  }
}

.show-more__title {
  color: #111111;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.show-more__description {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.show-more__button {
  display: grid;
  padding: 10px 0;
  background-color: #f2f2f2;
  color: #444444;
  text-decoration: none;
}
@media (min-width: 768px) {
  .show-more__button {
    margin: 0 35px;
  }
}

.site-menu__list {
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}
@media (max-width: 768px) {
  .site-menu__list {
    display: none;
  }
  .site-menu__list:last-child {
    border-bottom: 1px solid #ebebeb;
  }
}
@media (min-width: 768px) {
  .site-menu__list {
    padding: 24px 0 24px;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 400;
  }
}
@media (min-width: 1300px) {
  .site-menu__list {
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }
}

@media (max-width: 768px) {
  .site-menu__item {
    border-top: 1px solid #ebebeb;
    padding: 24px 0 24px;
  }
}
@media (min-width: 768px) {
  .site-menu__item {
    padding: 10px 0 10px;
  }
}
@media (min-width: 768px) {
  .site-menu__item--active {
    border-bottom: 2px solid #5eaa2f;
  }
}
.site-menu__link {
  color: #000000;
  text-decoration: none;
}
@media (min-width: 768px) {
  .site-menu__link {
    display: block;
    font-size: 18px;
  }
}
@media (min-width: 1300px) {
  .site-menu__link {
    font-size: 20px;
  }
}

@media (min-width: 1300px) {
  .site-menu__list--main .site-menu__item--active {
    border-bottom-color: #ffffff;
  }
}
.site-menu__list--main .site-menu__link {
  color: #ffffff;
}

.social {
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 20px 0;
  border-bottom: 1px solid #d9d9d9;
  list-style-type: none;
}
@media (min-width: 768px) {
  .social {
    border: none;
  }
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.social__link {
  width: 22px;
  height: 22px;
  display: block;
  background: transparent no-repeat center;
}
.social__link--vk {
  background-image: url("../../img/social-icon/vkontakte.svg");
}
.social__link--youtube {
  background-image: url("../../img/social-icon/facebook.svg");
}
.social__link--telegram {
  background-image: url("../../img/social-icon/instagram.svg");
}

.stats__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 35px;
  text-align: center;
}
@media (min-width: 768px) {
  .stats__list {
    grid-template-columns: 1fr 1fr;
    gap: 42px;
  }
}
@media (min-width: 1300px) {
  .stats__list {
    grid-column: span 2;
  }
}

.stats__row {
  padding: 10px 10px 0 10px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (min-width: 768px) {
  .stats__row {
    height: 72px;
  }
}

.stats__title {
  max-width: 80px;
  margin-bottom: -12px;
  padding: 0 7px;
  background-color: #ebebeb;
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  text-transform: lowercase;
}
@media (min-width: 768px) {
  .stats__title {
    max-width: 100%;
    margin-bottom: -14px;
    padding: 0 3px;
    background-color: transparent;
    font-size: 14px;
    line-height: 1;
  }
}

.stats__value {
  margin-left: 0;
  margin-bottom: 8px;
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .stats__value {
    font-size: 30px;
    line-height: 37px;
  }
}

.switcher {
  display: grid;
  grid-template-columns: 49px 1fr 49px;
  align-items: center;
  gap: 13px;
  padding: 0 35px;
}
@media (min-width: 768px) {
  .switcher {
    grid-template-columns: 70px 1fr 70px;
    padding: 0 58px;
  }
}
@media (min-width: 1300px) {
  .switcher {
    padding: 0;
  }
}

.switcher__button {
  display: block;
  padding: 0 2px 2px;
  background-color: transparent;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .switcher__button {
    padding: 0;
    padding-bottom: 4px;
    justify-self: center;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.24);
    font-size: 20px;
  }
  .switcher__button:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }
  .switcher__button:active {
    border-bottom-color: transparent;
  }
}

.switcher__toggler {
  padding: 4px 6px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}
.switcher__toggler::after {
  content: "";
  width: 36px;
  height: 6px;
  background-color: #68b738;
  border-radius: 6px;
}
.switcher--after .switcher__toggler {
  justify-content: flex-end;
}
.switcher--before .switcher__toggler {
  justify-content: flex-start;
}
@media (min-width: 768px) {
  .switcher__toggler {
    display: none;
  }
}

.switcher__bar {
  -webkit-appearance: none;
          appearance: none;
  background-color: transparent;
}
@media (max-width: 768px) {
  .switcher__bar {
    display: none;
  }
}

.switcher__bar::-moz-range-thumb {
  height: 30px;
  width: 30px;
  padding: 0;
  box-sizing: border-box;
  border: 11px solid #ffffff;
  border-radius: 50%;
  background-color: #68b738;
  box-shadow: 0 0 0 1px #cdcdcd, 0 1px 3px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.switcher__bar::-moz-range-thumb:hover {
  box-shadow: 0 0 0 1px #cdcdcd, 0 2px 4px rgba(0, 0, 0, 0.19);
}
.switcher__bar::-moz-range-thumb:active {
  box-shadow: 0 0 0 1px #68b738, 0 3px 5px rgba(0, 0, 0, 0.2);
}

.switcher__bar::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  height: 30px;
  width: 30px;
  margin-top: -12px;
  padding: 0;
  box-sizing: border-box;
  border: 11px solid #ffffff;
  border-radius: 50%;
  background-color: #68b738;
  box-shadow: 0 0 0 1px #cdcdcd, 0 1px 3px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.switcher__bar::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 1px #cdcdcd, 0 2px 4px rgba(0, 0, 0, 0.19);
}
.switcher__bar::-webkit-slider-thumb:active {
  box-shadow: 0 0 0 1px #68b738, 0 3px 5px rgba(0, 0, 0, 0.2);
}

.switcher__bar::-webkit-slider-runnable-track,
.switcher__bar::-moz-range-track {
  height: 8px;
  background-color: #d9d9d9;
  border-radius: 6px;
}

.switcher__bar::-webkit-slider-runnable-track {
  height: 8px;
  background-color: #d9d9d9;
  border-radius: 6px;
}
/*# sourceMappingURL=style.css.map */