*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  background-color: $color-primary-500;
  font-family: $font-heading;
  color: $color-white;
  text-transform: uppercase;
}

.button--secondary {
  color: $color-gray-700;
  background-color: $color-gray-50;
}
img{
  max-width: 100%;
}

.page {
  min-width: 320px;
  //padding: 0 20px;
}

.container {
  width: 280px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet) {
    width: 708px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
  }
}
